@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

/*General Rules*/
body{
  vertical-align: middle;
  position: fixed;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(9, 9, 9);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

button, select, option {
  cursor: pointer;
}



  button:hover {
    filter: brightness(0.5);
  }


/*Timer*/
#time-left {
  color: #A20707;
  width: 50vw;
  text-align: center;
  border: solid;
  border-color: #181819;
  background-color: #181819;
  border-radius: 20px;
  transition: all 0.5s;
}

#time-left hr {
  border: solid;
  border-width: 1px;
  transition: all 0.5s;
}

.time-left-title {
  letter-spacing: 20px;
  font-size: 40px;
  transition: all 0.5s;
}

.time-left-timer {
  font-size: 100px;
  letter-spacing: 50px;
  transition: all 0.5s;
}

/*Controls*/

 .controls button {
  background: none;
  border: none;
  font-size: 30px;
  color: #A20707;
  transition: all 0.5s;

} 

.controls{
  border-radius: 20px;
  background-color: #111;
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
}

/*settings*/
.settings-icon {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 1vh;
  left: 3.5vw;
  background: none;
  border: none;
  font-size: 35px;
  transition: all 0.5s;
}

.close-settings-button {
  background: none;
  border: none;
  transform: scale(2.5);
  position: absolute;
  left: 29vw;
  top: 4vh;
}

.settings{
position: absolute;
right: 35vw;
background-color: #181819;
width: 30vw;
height: 60vh;
z-index: 99;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
}

.flexin{
  display: flex;
  justify-content: space-evenly;
}
.break-time, .work-time {
  display: flex;
}
.settings div button {
  background: none;
  border: none;
}

.settings div {
  display: flex;
}

.settings-play {
  background: none;
  border: none;
  cursor: pointer;
}


.alarm-sound {
  background-color: #111;
  color: white;
  padding: 5px;
  margin-left: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
}

.blur-timer {
  filter:blur(5px);
}

@media screen and (max-width:1224px) {
  body {
    margin-bottom: 55px !important;
    background-color: #181819;
  }
  .container {
    margin: 0;
  }
  .settings-icon{
    left: 12vw;
  }
  #time-left{
    margin: 0;
    height: 100vh;
    width: 113vw;
    margin: 0;
    padding: 0;
    border: none;
  }
  .time-left-title{
    width: 100vw;
    margin-top: 100px;
  }
  .time-left-timer{
    letter-spacing: 2px;
    width: 100vw; 
  }
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: 100vw;
    border-radius: 0;
    justify-items: center;
  }
  .settings{
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
  }
  .close-settings-button{
    right: -45vw;
  }
}















